:root {
    --mu-grey-color: #f0f0f0;
    --mu-blue-color: #1098d5; // dvfu background color
    --blue-font-color: #007baf; // dvfu text color

    --disactivated-color: #84bed8;
}

body {
    margin: 0;
    background-color: #f7fdff;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
}

.display-none {
    display: none !important;
}

.top-bar {
    height: 40px;
    background-color: var(--mu-blue-color);
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top-bar-link {
        color: #fff;
        font-size: 13px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
}

.header {
    --height: 75px;
    height: var(--height);
    position: relative;
    background-color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4a4a4a26;

    .header-right-content {

        .my-achievements {
            cursor: pointer;
        }
    }

    .achieve-type-list {
        position: absolute;
        top: var(--height);
        right: 0;
        list-style: none;
        padding: 0;
        background-color: #fff;
        font-weight: 600;
        box-shadow: 0 2px 2px 1px #4a4a4a33;
        font-size: 20px;

        li {
            height: 50px;
            line-height: 50px;

            a {
                display: block;
                height: inherit;
                padding-inline: 10px;
                text-decoration: none;
                color: var(--mu-blue-color);

                &:hover {
                    background-color: var(--mu-grey-color);
                }
            }
        }
    }
}

main {
    width: 76%;
    margin: 50px auto 20px;

    h1 {
        margin: 0;
        font-size: 45px;
        color: #000;
        font-family: sans-serif;
    }

    .content {
        --side-padding: 20px;
        margin-top: 40px;
        background-color: #fff;
        box-shadow: 0 3px 20px #4a4a4a40;
        padding-bottom: 10px;

        .achievements-toggle-bar {
            --height: 60px;
            display: flex;
            justify-content: space-between;
            height: var(--height);
            font-size: 20px;
            color: #39454b;

            div {
                height: inherit;
                line-height: var(--height);
                width: 50%;
                text-align: center;
                background-color: var(--mu-grey-color);
                cursor: pointer;
            }

            .active {
                background-color: inherit;
            }
        }

        .achievements-search-bar {
            display: flex;
            gap: 10px;
            width: calc(100% - 40px);
            justify-content: flex-end;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;

            .achieve-title {
                outline: none;
                border: none;
                height: 40px;
                padding: 10px;
                border-radius: 10px;
                color: #0d0d0d;
                background-color: var(--mu-grey-color);
                box-sizing: content-box;
                text-align: center;
            }

            .add-achieve {
                border: none;
                width: 39%;
                background-color: var(--mu-blue-color);
                border-radius: 10px;
                color: #fff;
                height: 40px;
                padding: 10px;
                box-sizing: content-box;
                font-weight: 500;
                cursor: pointer;
            }

            .refresh-button {
                border: none;
                height: 60px;
                width: 60px;
                border-radius: 10px;
                background-color: var(--mu-blue-color);
                cursor: pointer;
            }
        }

        .current-achievements-bar {

            .current-achievements-bar-achieve-title {
                width: 59%;
            }
        }

        .archived-achievements-bar {

            .archived-achievements-bar-achieve-title{
                width: 100%;
            }
        }

        .table {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;

            .empty-text,
            .load-text {
                text-align: center;
                font-size: 24px;
                margin: 0;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            table {
                width: 100%;

                th {
                    background-color: var(--mu-blue-color);
                    padding: 10px;
                    font-weight: 400;
                    color: #fff;
                }

                td {
                    background-color: var(--mu-grey-color);
                    text-align: center;
                    padding: 10px;
                }
            }
        }
    }

    .filters {
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        margin-top: 20px;

        input {
            border: none;
            background: none;
            display: block;
            border-radius: 5px;
            text-align: center;
            background-color: #e2cdcd;
            width: 22%;
            height: 30px;
        }

        button {
           border: none;
            background: none;
            display: block;
            border-radius: 5px;
            text-align: center;
            background-color: #32269c;
            width: 12%;
            height: 30px; 
        }
    }

    #modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0 0 0 / 0.6);
        z-index: 10;

        .modal-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #modal-box {
            background-color: #fff;
            padding: 20px;
            width: fit-content;
            margin: 0 auto;
            border-radius: 10px;
            position: relative;
            z-index: 11;

            h2 {
                text-align: center;
                font-size: 26px;
            }

            button {
                display: block;
                width: 300px;
                height: 50px;
                font-size: 20px;
                background-color: var(--mu-grey-color);
                border-radius: 10px;
                color: #000;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: var(--mu-blue-color);
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .display-block {
        display: block !important;
    }
}


.achievement-completion-card-and-reset-button {
    margin-top: 20px;
    margin-inline: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;

    .achievement-completion-card {
        width: 740px;
        padding: 30px 20px;
        box-shadow: 2px 4px 4px #9c9c9c80;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 10vh;
        grid-column: 2;

        // Элементы формы
        .form-element {
            margin-bottom: 25px;

            .form-title {
                margin-top: 0;
                margin-bottom: 10px;
                font-weight: 600;
                display: block;
            }

            .small-text {
                color: #777;
                font-size: 12px;
                font-weight: 400;
                line-height: 1.5;
            }

            .input-wrap {
                display: block;

                .input-line-element {
                    width: 100%;
                    background-color: #f6f6f6;
                    border: 1px solid #777;
                    border-radius: 2px;
                    display: block;
                    padding: 10px;
                }
            }

            .radio-margin {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        .submit {
            background-color: var(--mu-blue-color);
            border-radius: 10px;
            color: #fff;
            display: block;
            font-size: 20px;
            height: 45px;
            width: 100%;
            padding: 10px;
        }
    }

    .reset-button-wrap {
        grid-column: 3;
        width: 50px;
        height: 50px;
        background-color: var(--mu-blue-color);
    }
}
